:root {
	--primary-font: "Roboto", sans-serif;
	--secondary-font: "Raleway", sans-serif;

	--CLOUD: #f4f4fd;
	--CORNFLOWER: #e7e9fc;
	--GREY: #2e2f42b2;
	--IRIS: #4d5ae5;
	--LIGHT-SLATE: #8e8f99;
	--NAVY-BLUE: #2e2f42;
	--NAVY-BLUE-400: rgba(46, 47, 66, 0.4);
	--NAVY-BLUE-700: rgba(46, 47, 66, 0.7);
	--OCEAN: #404bbf;
	--SLATE: #434455;
	--WHITE: #ffffff;
	--GREEN-HOVER: #31d0aa;

	--button-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.15);
}

body {
	font-family: var(--primary-font);
	letter-spacing: 0.03em;
	background-color: var(--WHITE);
	color: var(--NAVY-BLUE);
}

ul,
ol {
	list-style-type: none;
}

a {
	text-decoration: none;
}

.item-title {
	font-size: 20px;
	line-height: 1.2;
	letter-spacing: 0.4px;
	color: var(--NAVY-BLUE);
}

.item-subtitle {
	font-size: 16px;
	font-weight: 400;
	line-height: 1.5;
	letter-spacing: 0.32px;
	color: var(--SLATE);
}

.button {
	font-family: var(--primary-font);
	background-color: var(--IRIS);
	color: var(--WHITE);
	font-size: 16px;
	line-height: 1.5;
	padding: 16px 32px;
	border-radius: 4px;
}
.button:hover,
.button:focus {
	background: var(--OCEAN);
	box-shadow: var(--button-shadow);
}

.filter-button {
	padding: 12px 24px;
	background-color: var(--CLOUD);
	color: var(--IRIS);
}
.filter-button:hover,
.filter-button:focus {
	background: var(--IRIS);
	color: var(--WHITE);
}

.logo {
	font-family: var(--secondary-font);
	font-weight: 800;
	font-size: 18px;
	line-height: 1.17;
	letter-spacing: 0.03em;
	text-transform: uppercase;
	color: var(--IRIS);
}

.logo-dark {
	color: var(--NAVY-BLUE);
}

.logo-light {
	color: var(--WHITE);
}

.header-nav-menu-link {
	color: var(--NAVY-BLUE);
	font-size: 16px;
	line-height: 24px;
	letter-spacing: 0.32px;
	font-weight: 500;
}
.header-nav-menu-link:hover,
.header-nav-menu-link:focus {
	color: var(--OCEAN);
}

.header-contacts-link {
	color: var(--NAVY-BLUE);
	font-size: 16px;
	font-weight: 400;
	line-height: 24px;
	letter-spacing: 0.32px;
	font-style: normal;
}
.header-contacts-link:hover,
.header-contacts-link:focus {
	color: var(--OCEAN);
}

.header-nav-menu-link.current {
	color: var(--OCEAN);
}

.hero {
	background-color: var(--NAVY-BLUE);
	color: var(--WHITE);
	text-align: center;
}

.hero-title {
	font-size: 56px;
	font-weight: 700;
	line-height: 107.3%;
}

.features-title {
	display: none;
}

.tasks {
	text-align: center;
}

.tasks-title {
	text-align: center;
	font-size: 36px;
	font-weight: 700;
	line-height: 40px; /* 111.111% */
	letter-spacing: 0.72px;
	text-transform: capitalize;
}

.task-item {
	display: inline-block;
}

.team {
	text-align: center;
	background-color: var(--CLOUD);
}

.team-title {
	text-align: center;
	font-size: 36px;
	font-weight: 700;
	line-height: 40px;
	letter-spacing: 0.72px;
	text-transform: capitalize;
}

.team-member {
	display: inline-block;
	background-color: var(--WHITE);
}

.team-member-img {
	color: var(--SLATE);
	font-size: 16px;
	font-weight: 400;
	line-height: 1.2;
	letter-spacing: 0.32px;
}

.footer {
	background-color: var(--NAVY-BLUE);
	color: var(--WHITE);
}

.footer-text {
	font-size: 16px;

	font-weight: 400;
	line-height: 24px;
	letter-spacing: 0.32px;
}

.portfolio-title {
	display: none;
}

.jobs-list {
	color: var(--NAVY-BLUE);
	display: flex;
	flex-wrap: wrap;
}
.job-item {
	flex: 1 0 33%;
	padding-bottom: 48px;
}
